{% extends 'firstapps/base.html' %}
{% block page_header %}
<p>Topic:{{ topic }}</p>
{% endblock page_header %}
{% block content %}
  
  <p>Entries:</p>
  <p><a href="{% url 'firstapps:new_entry' topic.id %}" method='post'>Add new Entry</a></p>
  
  {% for entry in entries %}
    <div class="card mb-3">
      <div class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'firstapps:edit_entry' entry.id %}">{{ entry.text|linebreaks }}</a></small>
      </div>
      <div class="card-body">
        <h4>{{ entry.text|linebreaks}}</h4>
      </div>
    </div>
  {% empty %}
    <p>Call David to fill the list asap!</p>
  {% endfor %}
  
{% endblock content %}