{% extends "dict/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
  <h2>Проверь себя</h2>
<script> 
function notify(el, id) {
  id.style="color:black"
}
</script>
{% endblock page_header %}
{% block content %}
    <ul class="list-group">
        {% for word in words %}
        <li class="list-group-item" onclick="notify(this, s{{word.id}})">{{word.word}} : <span id=s{{word.id}} class=s{{word.id}} style="color:white;">{{word.transc}} : {{word.meaning}}</span> </li>
        {% endfor %}
    </ul>
{% endblock content %}