
{% extends 'Shope/base.html' %}
{% block title  %}
    Создание заказа
{%endblock%}
{% block content %}
<div class="order-info">
<h1> Оформить заказ</h1>
    <h3> Ваш заказ</h3>
    <ul>
    {% for item in cart %}
        <li>
            {{item.quantity}}{{item.product.name}}
            <span>
                NIS{{item.total_price}}
            </span>
        </li>

    {% endfor %}
    </ul>

    <p> Итого: NIS {{cart.get_total_price}}</p>
</div>
    <form method="post" class="order_form">
        {{form.as_p}}
        <p><input type="submit" value= "Разместить заказ"></p>
        {% csrf_token %}
    </form>

{% endblock  %}